@tailwind base;
@tailwind components;
@tailwind utilities;

@import "preflight";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.ygpt-chatbot {
  // background: #fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}
